<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间: 要和mapper层的mapper包一样-->
<mapper namespace="org.example.mapper.AdminMapper">

    <select id="selectByPhone" resultType="org.example.entity.Admin">
        select * from admin where phone=#{phone}
    </select>

    <select id="search" resultType="org.example.entity.AdminUser">
        select * from p_admin_user
        <where>
            <if test="params != null and params.username!=null and params.username!='' ">
                and username like concat('%',#{params.username},'%')
            </if>
            <if test="params != null and params.phone!=null and params.phone!='' ">
                and phone like concat('%',#{params.phone},'%')
            </if>
        </where>
    </select>

</mapper>
